.infoContainer {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

h1 {
  color: #007bff;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
  font-size: 18px;
}
