/* styling navbar */
.Navbar-container {
  display: flex;
  justify-content: space-between; /* Push left and right sections apart */
  align-items: center; /* Keep items aligned vertically */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 1% 2%;
  z-index: 10;
}

/* left side of navbar */

.Navbar-left {
  display: flex;
  margin-left: 3%;
  gap: 10%;
}

.Navbar-left button {
  font-family: var(--Funnel);
  font-size: var(--m);
  margin: 1% 10%;
  font-weight: var(--regular);
  border-color: transparent;
  background-color: transparent;
  border-radius: 20px;
  padding: 6px 12px;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.Navbar-left button:hover {
  transform: scale(1.05);
  background-color: aliceblue;
}

#Navbar-home {
  font-weight: var(--bold);
  font-size: var(--l);
}

/* right side of navbar */

.Navbar-right {
  display: flex;
  align-items: center; /* Align items vertically */
  margin-right: 6%;
  gap: 10%;
  position: relative;
}

.Navbar-right button {
  font-family: var(--Funnel);
  font-size: var(--m);
  font-weight: var(--regular);
  border-color: transparent;
  background-color: transparent;
  border-radius: 20px;
  padding: 6px 12px;
  margin-right: 20px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.Navbar-right button:hover {
  background-color: aliceblue;
}

.Navbar-right button::after {
  position: absolute;
  top: 5%;
  content: "";
  height: 90%;
  background-color: #242424;
  width: 1px;
  margin-left: 30px;
}

.info-icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.info-icon:hover {
    transform: scale(1.05);
    filter: brightness(1.2);
}
